.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.numbers {
  flex: auto;
  max-width: 500px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: #19376d;
}

.textbox {
  flex: auto;
  display: flex;
  background-color: #4a1be4;
  border: 2px solid black;
  max-width: 500px;
  height: 75px;
  vertical-align: middle;
  font-size: 60px;
  color: #d9f852;
}

.pad {
  color: black;
  width: 100px;
  height: 100px;
  flex: initial;
  background-color: #d9f852;
  border: 2px solid black;
}

.cal1 {
  display: inline-block;
}

.cal2 {
  display: inline-block;
  background-color: blueviolet;
}

.modifiers {
  display: inline-block;
  max-width: 230px;
  background-color: brown;
}

.equals {
  color: black;
  width: 200px;
  height: 100px;
  flex: initial;
  background-color: #d9f852;
  border: 2px solid black;
}
